/* @page{
    margin: 0.5cm;
}
.titulo{
    color: rgb(198, 50, 50);
    margin: 1cm 0cm
}
p{
    color: gray;
    font-size: 1cm;
} */

@page {
    margin: 3cm 0.5cm 2cm 0.5cm;
    font-family: 'Arial', sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
}

#header {
    position: fixed;
    top: -3cm;
    left: 0cm;
    width: 100%;
}

.imgHeader {
    float: left;
    width: 3cm;
}

.infoHeader {
    float: left;
    margin-left: 1cm;
}

h1.titulo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 1cm 0cm;
}

h2 { border-bottom: 1px solid #ddd; padding-bottom: 5px; }
p {
    margin: 0;
    font-size: 16px;
    color: gray;
}

.container {
    margin-top: 1cm;
}

.multas-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 14px;
}

.multas-table th, .multas-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.multas-table thead {
    background-color: #f4f4f4;
}

.multas-table th {
    font-weight: bold;
    color: #333;
}

.multas-table tbody tr:hover {
    background-color: #f9f9f9;
}

.estatus {
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    display: inline-block;
}

.estatus.pagada {
    background-color: #4CAF50;
}

.estatus.pendiente {
    background-color: #f44336;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table { 
    width: 100%; 
    border-collapse: 
    collapse; margin-top: 
    20px; }
th, td 
    { border: 1px solid #ddd; 
        padding: 8px; 
        text-align: left; 
    }
        th { 
            background-color: #f9f9f9; 
            font-weight: bold; 
        }
    
        .section { margin-top: 20px; }
        .total { font-weight: bold; font-size: 18px; text-align: right; margin-top: 10px; }

#footer {
    position: fixed;
    bottom: -1.5cm;
    left: 0cm;
    width: 100%;
    background-color: rgb(6, 154, 159);
}

.textFooter {
    text-align: center;
    width: 100%;
    padding: 10px 0;
    color: white;
}
